<%= render "application/nav" %>

<%= render "sets/search", years: @years, parts: @parts%>

<div class="row">
    <% if @data["previous"] != nil%>
        <div class="justify-content-left">
            <%= link_to "Previous Page", set_path(@previous, min_year: @params[:min_year], max_year: @params[:max_year], min_parts: @params[:min_parts], max_parts: @params[:max_parts]), class: "btn btn-primary"%>
        </div>
    <% end %>
    <% if @data["next"] != nil%>
        <div class="justify-content-right">
            <%= link_to "Next Page", set_path(@next, min_year: @params[:min_year], max_year: @params[:max_year], min_parts: @params[:min_parts], max_parts: @params[:max_parts]), class: "btn btn-primary"%>
        </div>
    <% end %>
</div>

<% for set in @data['results'] %>
    <%= link_to lego_path(set['set_num']) do%>
        <%= render "sets/card", set: set %>
    <% end %>
<% end %>