<%= render "application/nav" %>

<div class="d-flex flex-column justify-content-center">
    <%= render "lego/info", data:@set%>
    <div class="container-fluid d-flex justify-content-center align-items-center gap-3">
        <%= form_with model: [ @user, @set ] do |form| %>
            <p>
                <%= form.hidden_field :favorite, value: !@set['favorite'] %>
            </p>
            <% if @set['favorite']%>
                <p>
                    <%= form.submit "Unfavorite", class: "btn btn-warning"%>
                </p>
            <% else %>
                <p>
                    <%= form.submit "Favorite", class: "btn btn-success"%>
                </p>
            <% end %>
        <% end %>
        <%= link_to "Destroy", user_col_set_path(@set), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        }, class: "btn btn-danger " %>
    </div>

    <%= link_to "Back to Sets", user_col_sets_path, class:"btn btn-outline-dark me-auto"%>
</div>