<%= render "application/nav" %>
<h1>Sign Up</h1>
<%= form_with model: @user do |f| %>
  <div class="container">
    <div class="row g-3">
      <div class="col-md-6">
      <%= f.label :name, class: "form-label"  %><br>
      <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-md-6">
      <%= f.label :password, class: "form-label"  %><br>
      <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-md-6">
      <%= f.label :password_confirmation, class: "form-label"  %><br>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
    <% if @user.errors.any? %>
      <div class="row g-3">
        <div class="alert alert-warning col-md-3">
          <% @user.errors.full_messages.each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row g-3">
      <div class="col-md-1">
        <%= f.submit "Sign Up", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>