<div class="card-body">
    <%if data['favorite'] == true %><span class='text-info'><% end %>
    <h1><%= data['name'] %> (<%= data['set_num'] %>)</h1>
    <%if data['favorite'] == true %></span><% end %>
</div>
<div class="align-self-center justify-content-center m-4" style="max-width: 500px">
    <img src=<%= data['set_img_url']%> alt= <%= data['name'] %> class="card-img img-fluid"/>
</div>
<div class="container justify-content-center">
    <div class="d-flex row justify-content-center align-items-stretch align-items-center">
        <div class="col-auto border">
            <div class="fw-bold text-center">Number of Parts:</div>
            <div class="text-center"><%= data['num_parts']%></div>
        </div>
        <div class="col-auto border">
            <div class="fw-bold text-center">Theme:</div>
            <div class="text-center"><%= @theme %></div>
        </div>
        <div class="col-auto border">
            <div class="fw-bold text-center">Year:</div>
            <div class="text-center"><%= data['year'] %></div>
        </div>
        <div class="col-auto border">
            <%= link_to "More Info", data['set_url'], class:"btn btn-info"%>
        </div>
    </div>
</div>