<%= render "application/nav" %>
    <div class="">
        <div class="card-body">
            <h1><%= @data['name'] %> (<%= params[:id] %>)</h1>
        </div>
        <div class="align-self-center justify-content-center" style="width: 50%">
            <img src=<%= @data['set_img_url']%> alt= <%= @data['name'] %> class="card-img"/>
        </div>
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-auto border">
                    <div>Number of Parts:</div>
                    <div><%= @data['num_parts']%></div>
                </div>
                <div class="col-auto border">
                    <div>Theme id:</div>
                    <div><%= @data['theme_id']%></div>
                </div>
                <div class="col-auto border">
                    <div>Year:</div>
                    <div><%= @data['year'] %></div>
                </div>
            </div>
        </div>
        <% if current_user %>
            <%= link_to "Add to your collection!", "/", class: "btn btn-primary" %><br>
        <% else %>
            <div>Login to add to collection!</div>
        <% end %>
        <%= link_to "For more information, click here!", @data['set_url']%>
        <div class=""></div>
    </div>