<nav class="navbar navbar-expand-md navbar-light bg-info">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <% if current_user %>
                    <%= link_to "Collections", user_collections_path(current_user), class: "nav-link" %>
                <% end %>
            </li>
            <li class="nav-item">
                <%= link_to "Sets Catalog", sets_path, class: "nav-link" %>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <%= link_to "Collect-a-Lego", root_path, class: "navbar-brand mx-auto" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ms-auto">
            <% if current_user %>
                <li class="nav-item">
                    <%= link_to "Sign Out", session_path(current_user), data: {turbo_method: :delete}, class: "nav-link" %>
                </li>
            <% else %>
                <li class="nav-item">
                    <%= link_to 'Login', new_session_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Sign Up', new_user_path, class: "nav-link" %>
                </li>
            <% end %>
        <ul>
    </div>
</nav>